body {
  background: #fff;
}

ul.options {
  display: block;
  list-style: none;
  width: 30rem;
  transition: width 0.3s;
  margin: auto;
  position: relative;
  padding: 0;
}

ul.options li {
  display: block;
  background: white;
  margin: 4px auto;
  padding: 6px 24px;
  font-size: 0.9rem;
  width: 100%;
  border-radius: 2px;
  text-align: left;
}
ul.options li:hover {
  font-weight: bold;
  color: #444;
  cursor: pointer;
  transition: 0.3s all;
}

ul.options li.option-active {
  background: #f1f1f1;
  font-size: 0.9rem;
  color: #444;
}

